:root {
    --primary: #f5f3ea;
    --secondary: #f96;
    --tertiary: #3665f3;
    --footer: #223;
    --header-height: 100px;
    --footer-height: 200px;
  }


.flex-center {
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.no-list-style {
    list-style: none;
}

.my-bg-primary {
    background-color: var(--primary);
    color: black;
}

.my-bg-secondary {
    background-color: var(--secondary);
    color: black;
}
.my-bg-tertiary {
    background-color: var(--tertiary);
    color: white;
}


body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;

    min-height: 100vh;
}




#footer {
    height: var(--footer-height);
    background-color: var(--footer);
    color: beige;
    align-items: left;
}

#footer div:nth-child(1) {
    margin-top: 1rem;
}

#footer div {
    font-size: 0.9rem;
    margin-left: 3rem;
    padding: 0.5em;
}

#footer #copyright {
    margin-left: 3rem;
    font-size: 0.75em;
    text-align: center;
}

#footer hr {
    margin-top: 1rem;
    height: 2px;
    width: 95%;
    background-color: orange;
}




.auction-view {
    
    
    
}

#all-auction-view {
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    margin: 50px auto;
}

.auction-item {
    margin: 10%;
    padding: 3rem 2rem;
    border: 1px solid var(--footer);
    border-radius: 4em;
    background-color: #ffa375;
}

.auction-item-small {
    width: 400px;
    height: 250px;
    margin: 15px;
    
    border-radius: 2em;
    background-color: #ffa375;
}

.auction-item-picture {
    width: 300px;
    flex-shrink: 0;
}

.auction-item-picture-small {
    margin-top: 30px;
    width: 150px;
    flex-shrink: 0;
}
.auction-item-picture-small img {
    width: 100%;
}

.auction-item-description-small {
    flex-grow: 1;
    padding: 10px;
}

.auction-item-picture img {
    width: 100%;
}

.auction-item-description {
    flex-basis: 70%;
    padding-left: 1em;
    font-size: 0.9em;
}

.auction-item-description p {
    margin-top: 2em;
}

.biduj-button {
    color: var(--primary);
    background-color: var(--tertiary);
    border: none;

    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.25rem;
    padding: 0.5em 1em;
    width: 6em;
}

.biduj-button:hover {
    background-color: cornflowerblue;
}

#auction-search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 800px;
    margin: 50px auto;
    border: 2px solid var(--footer);
    border-radius: 2em;

    font-size: 0.9rem;
}

#auction-search-form h1 {
    width: 100%;
    margin: 1em;
    text-align: center;
}

.auction-search-form-field {
    width: 150px;
    padding-top: 1.25em;
    margin: 0.5em 0.5em;
}

.auction-search-form-field input {
    border: 1px solid var(--footer);
    border-radius: 0.5em;
    padding: 2px 3px;
}

#auction-status-radio {
    width: 40%;
    text-align: center;
    margin-bottom: 2em;
}

.auction-search-button {
    width: 120px;
    text-align: center;
}

.auction-search-button input {
    width: 100%;
    padding: 0.25rem;
    background-color: var(--tertiary);
    color: var(--primary);
}

.auction-search-button input:hover {
    background-color: cornflowerblue;
}



.my-form-400 {
    width: 400px;
}

.my-form-500 {
    width: 500px;
}

.my-form-600 {
    width: 600px;
}

.w100px {
    width: 100px;
}

.w200px {
    width: 200px;
}